.navegacion{
  text-align: center;
}
.main-link{
  padding: 5px 0;
  margin: 5px 0;
}
.rutas{
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none
}

a.rutas{
  display: inline-block;
}
a.rutas:visited{
  text-decoration: none
}
a.rutas:link{
  text-decoration: none
}
a.rutas:after{
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;

}
a.rutas:hover:after{
  width: 100%;
background: #1198cc;
}